<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">

<head>
    <meta charset="UTF-8">
    <title>ETC</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>

    <div class="container-fluid py-4">
        <br/>
        <div class="text-center py-3">
            <h1>Sistem Informasi Pustakawan</h1>
        </div>
    </div>
</body>
</html>
