<!DOCTYPE html>
<html xmlns:th="http://www.thymlaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Pustakawan</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>

    <div class="container">
        <br/>
        <h3>Form Pustakawan</h3>
        <br/>

        <form th:action="@{/pustakawan/update/} + ${pustakawan.nip}" th:object="${pustakawan}" method="POST">

            <div class="form-group">
                <label>NIP</label>
                <input type="text" class="form-control" th:field="${pustakawan.nip}" th:placeholder="${pustakawan.nip}" name="nip">
                <small class="form-text text-muted">Pastikan panjang NIP 16 digit unik.</small>
            </div>

            <div class="form-group">
                <label>Nama</label>
                <input type="text" class="form-control" th:field="${pustakawan.nama}" th:placeholder="${pustakawan.nama}" name="nama">
            </div>

            <div class="form-group">
                <label>Jenis Kelamin</label>
                <select class="form-control" th:field="${pustakawan.jenisKelamin}" th:placeholder="${pustakawan.jenisKelamin}"  name="jenisKelamin">
                    <option value="1">laki-laki</option>
                    <option value="2">perempuan</option>
                </select>
            </div>

            <div class="form-group">
                <label>Tanggal Lahir</label>
                <input type="date" class="form-control" th:field="${pustakawan.tanggalLahir}" name="tanggalLahir">
            </div>

            <div class="form-group">
                <label>Alamat</label>
                <input type="text" class="form-control" th:field="${pustakawan.alamat}" th:placeholder="${pustakawan.alamat}" name="alamat">
            </div>

            <div class="form-group">
                <label>No Hp</label>
                <input type="text" class="form-control" th:field="${pustakawan.noHp}" th:placeholder="${pustakawan.noHp}" name="noHp">
            </div>

            <div class="form-group">
                <label>Spesialisasi</label>
                <input type="text" class="form-control" th:field="${pustakawan.spesialisasi}" th:placeholder="${pustakawan.spesialisasi}" name="spesialisasi">
            </div>

            <div class="form-group">
                <label>Status</label>
                <select class="form-control" th:field="${pustakawan.status}" th:placeholder="${pustakawan.status}" name="status">
                    <option value="1">full-time</option>
                    <option value="2">part-time</option>
                </select>
            </div>

            <button class="btn btn-dark" type="submit" name="submit">Simpan</button>
        </form>
    </div>

</body>
</html>